@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.errorBorder {
  @apply border-red-500 focus:border-red-200;
}

.normalBorder {
  @apply focus:border-green-300;
}

.errorText {
  @apply mt-5 block text-red-500;
}
/* 스크롤바 넓이 지정 */
::-webkit-scrollbar {
  width: 7px;
}

/* 스크롤바 트랙 꾸미기 */
::-webkit-scrollbar-track {
  background: #f3f3f3;
  border-radius: 5px;
}

/* 스크롤바 손잡이 꾸미기 */
::-webkit-scrollbar-thumb {
  background: #c5c6d0;
  border-radius: 5px;
}

/* 스크롤바 손잡이 호버 시 색 */
::-webkit-scrollbar-thumb:hover {
  background: #707070;
}
